################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs/TPW/FileContentIndex/132f7d49-a645-4d32-ac43-b4d3c82dff04.vsidx
